{% load static %}
<section id="about" class="about">
    <div class="section-heading text-center">
        <h2>Sobre</h2>
    </div>
    <div class="container">
        <div class="about-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="single-about-txt">
                        <h3>
                            Sou um programador especializado em <strong>PYTHON</strong> e <strong>DJANGO</strong> para o desenvolvimento em <strong>Aplicações WEB</strong>. 
                        </h3>
                        <p>
                            Acredito que como qualquer outra pessoa minha personalidade se resume a minhas experiências cognitivas, tanto as boas como as ruins, dentre elas, as que mais me formaram como pessoa são as religiosa e profissional, elas ensinaram a dar sempre o melhor em tudo e não desistir.
                        </p>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>Celular e whatszap</h3>
                                    <p>(19) 971330046</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-about-add-info">
                                    <h3>email</h3>
                                    <p>wilian.devsantos@outlook.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-1 col-sm-5">
                    <div class="single-about-img">
                        <img src="{% static 'assets/images/about/profile-image.png' %}" alt="profile_image">
                        <div class="about-list-icon">
                            <ul>
                    
                                <li>
                                    <a href="https://github.com/WilianSantos">
                                        <i  class="fa fa-github" aria-hidden="true"></i>
                                    </a>
                                    
                                </li><!-- / li -->
                                <li>
                                    <a href="https://www.linkedin.com/in/wilian-soares-dos-santos-115328124/">
                                        <i  class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li><!-- / li -->
                                
                                
                            </ul><!-- / ul -->
                        </div><!-- /.about-list-icon -->

                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!--/.about-->