
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Contato</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">wilian.devsantos@outlook.com</p>
                
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <a href="https://github.com/WilianSantos">
                    <i class="fa-brands fa-github fs-2 mb-3"></i>
                </a>
                    <div>GitHub</div>
            </div>
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <a href="https://www.linkedin.com/in/wilian-soares-dos-santos-115328124/">
                    <i class="fa-brands fa-linkedin fs-2 mb-3"></i>
                </a>
                <div>Linkedin</div>
            </div>
        </div>
    </div>
</section>