{% extends 'base.html' %}
{% load static %}

{% block content %}

        <!-- Masthead-->
            {% include 'masthead.html' %}

        <!-- About-->
            {% include 'about.html' %}

        <!-- Services-->
            {% include 'service.html' %}

        <!-- Portfolio-->
            {% include 'portfolio.html' %}
        
        <!-- Call to action-->
            {% include 'call_action.html' %}

        <!-- Contact-->
            {% include 'contact.html' %}

        <!-- Footer-->
            {% include 'footer.html' %}
            
{% endblock content %}