{% extends 'base.html' %}
{% block 'content' %}		
		<!-- top-area Start -->
      {% include 'top-area.html' %}
		<!-- top-area End -->
	
		<!--welcome-hero start -->
      {% include 'welcome.html' %}
		<!--welcome-hero end -->

		<!--about start -->
      {% include 'about.html' %}
		<!--about end -->
		
		<!--education start -->
      {% include 'education.html' %}
		<!--education end -->

		<!--skills start -->
      {% include 'skills.html' %}
		<!--skills end -->

		<!--experience start -->
      {% include 'experience.html' %}
		<!--experience end -->

		<!--profiles start -->
      {% include 'profiles.html' %}
		<!--profiles end -->

		<!--portfolio start -->
      {% include 'portfolio.html' %}
		<!--portfolio end -->

		{% comment %} <!--contact start -->
      {% include 'contact.html' %}
		<!--contact end --> {% endcomment %}

		<!--footer-copyright start-->
      {% include 'footer.html' %}
		<!--footer-copyright end-->
{% endblock 'content' %}