{% load static %}

<header class="masthead" style="background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('{% static "img/bg-masthead.jpg" %}');">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Desenvolvedor web</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Meu tempo e esforços tem sido na dedicação de obter preparação profissional.</p>
                <a class="btn btn-primary btn-xl" href="#about">Saiba mais</a>
            </div>
        </div>
    </div>
</header>
