{% load static %}
<section id="portfolio" class="portfolio">
    <div class="portfolio-details">
        <div class="section-heading text-center">
            <h2>Trabalhos</h2>
        </div>
        <div class="container">
            <div class="portfolio-content">
                <div class="isotope">
                    <div class="row">

                        {% for projeto in projetos %}
                            <div class="col-sm-4">         
                                <div class="item">
                                    <img src="{{ projeto.imagem.thumb.url }}" alt="..."/>
                                    <div class="isotope-overlay">
                                        <a href="{{ projeto.url }}">
                                            {{ projeto.projeto }}
                                        </a>
                                    </div><!-- /.isotope-overlay -->
                                </div><!-- /.item -->
                            </div><!-- /.col -->
                        {% endfor %}
                        
                    </div><!-- /.row -->
                </div><!--/.isotope-->
            </div><!--/.gallery-content-->
        </div><!--/.container-->
    </div><!--/.portfolio-details-->

</section><!--/.portfolio-->