<section id="profiles" class="profiles">
    <div class="profiles-details">
        <div class="section-heading text-center">
            <h2>Perfis</h2>
        </div>
        <div class="container">
            <div class="profiles-content">
                <div class="row">
                    
                    
                           
                    <div class="col-sm-3">
                        <div class="single-profile profile-no-border">
                            <div class="profile-txt">
                                <a href=""><i class="flaticon-github-logo"></i></a>
                                <div class="profile-icon-name">github</div>
                            </div>
                            <div class="single-profile-overlay">
                                <div class="profile-txt">
                                    <a href=""><i class="flaticon-github-logo"></i></a>
                                    <div class="profile-icon-name">github</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-profile profile-no-border">
                            <div class="profile-txt">
                                <a href="https://www.linkedin.com/in/wilian-soares-dos-santos-115328124/"> <i  class="fa fa-linkedin"></i></a>
                                <div class="profile-icon-name">linkedin</div>
                            </div>
                            <div class="single-profile-overlay">
                                <div class="profile-txt">
                                    <a href="https://www.linkedin.com/in/wilian-soares-dos-santos-115328124/"> <i  class="fa fa-linkedin"></i></a>
                                    <div class="profile-icon-name">linkedin</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-border"></div>
                
            </div>
        </div>
    </div>

</section><!--/.profiles-->