<section id="skills" class="skills">
    <div class="skill-content">
        <div class="section-heading text-center">
            <h2>Skills</h2>
        </div>
        <div class="container">
            <div class="row">  

                {% for skill in skills %} 
                    <div class="col-md-6">
                        <div class="single-skill-content">
                            <div class="barWrapper">
                                <span class="progressText"> {{ skill.nome }} </span>
                                <div class="single-progress-txt">
                                    <div class="progress ">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.porcentagem }}" aria-valuemin="10" aria-valuemax="100" style="">
                                            
                                        </div>
                                    </div>
                                    <h3>{{ skill.porcentagem }}%</h3>	
                                </div>
                            </div><!-- /.barWrapper -->    
                        </div>
                    </div>
                {% endfor %}

            </div><!-- /.row -->
        </div>	<!-- /.container -->		
    </div><!-- /.skill-content-->

</section><!--/.skills-->