{% load static %}
<section id="welcome-hero" class="welcome-hero" style=" background:url({% static 'assets/images/about/welcome_banner.jpg' %})no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="header-text">
                    <h2>Olá <span>,</span> eu sou <br> Wilian<span>.</span>   </h2>
                    <p>Programador web back-end</p>
                    <a href="{% static 'assets/download/browney.txt' %}" download>Baixar curriculo</a>
                </div><!--/.header-text-->
            </div><!--/.col-->
        </div><!-- /.row-->
    </div><!-- /.container-->

</section><!--/.welcome-hero-->